<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile.css"> 
    <script src="script/profile.js" defer></script>
    <script src="script/edit-profile_script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Lab Reservation System</title>
</head>
<body>
    {{> header}}
    </div>
    
    <section class="home-content">
        <div class="content">
            <section class="profile-details">
                <button onclick="goToHomePage()" class="back-button">&#9664; Back</button>
                <div class="profile-picture">
                    <img id="pfpSelf" src="image/Default_pfp.jpg">
                    <div class="edit-pfp">
                        <input type="file" id="fileInput" accept="image/*">
                        <img id="select_img" src="image/edit-pfp.png" alt="">
                    </div>
                </div>
                <div class="profile-details">
                    <h2><span id="name">{{fullName}}</span></h2>
                    <p>Username: <span id="username">{{username}}</span></p>
                    <p>Email: <span id="email">{{email}}</span></p>
                    <p>Course: <span id="course">{{course}}</span></p>
                    <p>Account Type: <span id="accountType">{{accountType}}</span></p>
                    <div>Description: <p id="description">{{description}}</p></div>
                    <button onclick="openEditProfilePopup()">Edit Profile</button>
                    <button onclick="logout()">Log Out</button>
                    <button onclick="deleteUser()">Delete Account</button>
                </div>
            </section>
            <section class="current-reservations">
                <h2>Current Reservations</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Lab</th>
                                <th>Seat Number</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Time and Date requested</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each reservations}}
                                <tr>
                                    <td>{{lab}}</td>
                                    <td>{{seatNumber}}</td>
                                    <td>{{date}}</td>
                                    <td>{{time}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </section>
    <div id="edit-profile-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeEditProfilePopup()">&times;</span>
            <h2>Edit Profile</h2>
            <form id="edit-profile-form" onsubmit="submitEditProfile(event)">
                <label for="fullName">Full Name:</label>
                <input type="text" id="edit-name" name="full-name" placeholder="Enter your full name" value="{{fullName}}"class="form-font"><br>
    
                <label for="username">Username:</label>
                <input type="text" id="edit-username" placeholder="Enter your username" value="{{username}}"class="form-font"><br>
    
                <label for="email">Email:</label>
                <input type="email" id="edit-email" name="email" placeholder="Enter your email" value="{{email}}"class="form-font"><br>
    
                <label for="course">Course:</label>
                <input type="text" id="edit-course" name="course" placeholder="Enter your course" value="{{course}}"class="form-font"><br>
    
                <label for="account-type">Account Type:</label>
                <select id="edit-accountType" name="account-type"class="form-font">
                    <option value="Student" {{#if accountTypeIsStudent}}selected{{/if}}>Student</option>
                    <option value="Lab Facilitator" {{#if accountTypeIsLabFacilitator}}selected{{/if}}>Lab Facilitator</option>
                </select><br>
    
                <label for="password">Edit Password:</label>
                <input required type="password" id="edit-password" name="password" placeholder="Enter your password"class="form-font"><br>

                <label for="oldPassword">Enter Old Password To Save Changes:</label>
                <input type="password" id="edit-old-password" name="old-password" placeholder="Enter your old password"class="form-font"><br>
                
                <label for="description">Description:</label><br>
                <textarea name="description" id="edit-description" cols="50" rows="5" placeholder="{{description}}">Just an account</textarea><br>
                <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
        </section>
    </div>
    {{> footer}}
</body>
</html>